.container_loc{
    width: 100vw; 
    height: 100vh; 
    display: flex;
    align-items: center; 
    justify-content: center; 
    background-color: #f9f9f9; 
    padding: 20px;
    box-sizing: border-box; 
    background-color: #120a34 ;
}
.title {
    font-size: 24px;
    margin-bottom: 20px; 
    color: white;
    text-align:center;
}

.error {
    color: red; 
    margin: 10px 0; 
}

.button-container {
    display: flex;
    flex-direction: column; 
    justify-content:center;
    gap: 10px; 
    margin-top: 20px; 
}

.button {
    padding: 10px 20px; 
    font-size: 16px; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer; 
    background-color:#416aef;
}

.button.allow {
    background-color:#416aef;
    color: white;
}

.button.allow:hover {
    background-color:#416aef;
    transform: scale(1.05); 
}

.button.deny {
    background-color:#416aef;
    color: white; 
}

.button.deny:hover {
    background-color: #F98C53; 
    transform: scale(1.05); 
}

.denied {
    color: #F98C53;
}

@media (min-width: 600px) {
    .button-container {
        flex-direction: row; 
    }
    
    .button {
        width: auto; 
    }
}
