@tailwind base;
@tailwind components;
@tailwind utilities;
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
}

@import url('https://fonts.googleapis.com/css2?family=Cairo:slnt,wght@2,200..1000&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Pacifico&display=swap');
  body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
*{
    margin: 0%;
    padding: 0%;
}
.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-color: #120a34; 
  }
  
  .welcome-content img{
    border-radius:20px;
  }
  .cairo {
    font-family: "Cairo", sans-serif;
    font-weight: bold;
    font-style: normal;
    line-height: 1.6; 
    text-rendering: optimizeLegibility; 
}

  .welcome-logo {
    width: 200px; 
    height: auto; 
  }
  /* Animation Keyframes */
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-20px) ;
  }
  60% {
    transform: translateY(-10px) ;
  }
}

/* تطبيق الرسوم المتحركة على الشعار */
.welcome-logo {
    width: 200px;
    height: auto;
    animation: bounce 2s infinite;
}
  .welcome-title {
    font-size: 2rem; 
    color: #d4d3d3; 
    margin-top: -80px; 
    font-family: 'Pacifico', cursive;
  }

svg{
  width: 20px;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}
